<% @inactive_accessories.each do |inactive| %>
  <h1>Name: <%= inactive.name %></h1>
  <p>Description: <%= inactive.description %></p>
  <p>Price: <%= number_to_currency(inactive.price) %></p>
  <p><%= link_to "Edit #{inactive.name}", edit_admin_accessory_path(inactive) %></p>
  <p>Status: Inactive</p>
  <p><%= link_to "Reactivate Accessory", admin_accessory_path(inactive, :accessory => {:role => 0}), method: "put" %></p>
<% end %>
