<section class="button">
  <h3><%= link_to "Create New Condition", new_admin_condition_path if current_admin? %></h3>
</section>
<br>
<br>
<br>
<br>
<section class="trips-dashboard-analytics">
  <% @conditions.each do |condition| %>
    <section class="trips-dashboard-value">
      <h2>
        Date: <%= condition.date %></br>
        Max Temperature: <%= condition.max_temperature %>°F</br>
        Mean Temperature: <%= condition.mean_temperature %>°F</br>
        Min Temperature: <%= condition.min_temperature %>°F</br>
        Mean Humidity: <%= condition.mean_humidity %>%</br>
        Mean Visibility: <%= condition.mean_visibility %> miles </br>
        Mean Wind Speed: <%= condition.mean_wind_speed %>mph </br>
        Precipitation: <%= condition.precipitation %> inches </br>
        <%= link_to "More Info?", condition_path(condition) %><br>
        <%= link_to "Edit", edit_admin_condition_path(condition) if current_admin? %><br>
        <%= link_to "Delete", admin_condition_path(condition), method: "delete" if current_admin? %><br>
      </h2>
    </section>
  <% end %>
</section>
