<section class="trips-dashboard-analytics">
  <section class="trips-dashboard-value">
    <% @conditions.each do |condition| %>
      <h2>Date: </h2>
      <h3><%= condition.date %></h3></br>
      <h2>Max Temperature: </h2>
      <h3><%= condition.max_temperature %></h3></br>
      <h2>Mean Temperature: </h2>
      <h3><%= condition.mean_temperature %></h3></br>
      <h2>Min Temperature: </h2>
      <h3><%= condition.min_temperature %></h3></br>
      <h2>Mean Humidity: </h2>
      <h3><%= condition.mean_humidity %></h3></br>
      <h2>Mean Visibility: </h2>
      <h3><%= condition.mean_visibility %> miles </h3></br>
      <h2>Mean Wind Speed: </h2>
      <h3><%= condition.mean_wind_speed %>mph </h3></br>
      <h2>Precipitation: </h2>
      <h3><%= condition.precipitation %> inches </h3></br>
      <h3><%= link_to "More Info?", condition_path(condition) %></h3>
      <h3><%= link_to "Edit", edit_admin_condition_path(condition) if current_admin? %></h3>
      <h3><%= link_to "Delete", admin_condition_path(condition), method: "delete" if current_admin? %></h3>
    <% end %>
  </section>
</section>
  