<section class="trips-dashboard-analytics">
  <% @trips.each do |trip| %>
    <section class="trips-dashboard-value">
      <h2>
        Trip ID: <%= trip.id %> <br>
        <%= trip.duration %> <br>
        <%= trip.start_date %> <br>
        <%= trip.start_station.name %> <br>
        <%= trip.end_date %> <br>
        <%= trip.end_station.name %> <br>
        <%= trip.bike_id %> <br>
        <%= trip.subscription_type %> <br>
        <%= trip.zip_code %> <br>
        <%= link_to "More Info?", trip_path(trip) %><br>
        <%= link_to "Edit Trip", edit_admin_trip_path(trip) if current_admin? %><br>
        <%= link_to "Delete Trip", admin_trip_path(trip), method: "delete" if current_admin? %><br>
      </h2>
    </section>
  <% end %>
</section>
<%= paginate @trips %> <br>
