<section class="dashboard-header">
  <h1>Weather Dashboard</h1>
</section>

<section class="weather-dashboard-analytics">
  <section class="weather-dashboard-table">
    <h1>Tempertature Analytics for Rides</h1>
    <table>
      <tr>
        <th>Temperature Range</th>
        <th>Average Rides</th>
        <th>Highest Number of Ride</th>
        <th>Lowest Number of Rides</th>
      </tr>
      <% @temp_ranges.each do |range| %>
        <tr>
          <td><%= range %>째F</td>
          <td><%= @conditions.average_rides_for_temps(range) %>째F</td>
          <td><%= @conditions.most_rides_for_temps(range) %>째F</td>
          <td><%= @conditions.lowest_rides_for_temps(range) %>째F</td>
        </tr>
      <% end %>
    </table>
  </section>

  <section class="weather-dashboard-table">
    <h1>Precipitation Analytics for Rides</h1>
    <table>
      <tr>
        <th>Precipitation Range</th>
        <th>Average Rides</th>
        <th>Highest Number of Ride</th>
        <th>Lowest Number of Rides</th>
      </tr>
      <% @precipitation_ranges.each do |range| %>
        <tr>
          <td><%= range %> inches</td>
          <td><%= @conditions.average_rides_for_precipitation(range) %> inches</td>
          <td><%= @conditions.most_rides_for_precipitation(range) %> inches</td>
          <td><%= @conditions.lowest_rides_for_precipitation(range) %> inches</td>
        </tr>
      <% end %>
    </table>
  </section>

  <section class="weather-dashboard-table">
    <h1>Wind Speed Analytics for Rides</h1>
    <table>
      <tr>
        <th>Mean Wind Speed Range</th>
        <th>Average Rides</th>
        <th>Highest Number of Ride</th>
        <th>Lowest Number of Rides</th>
      </tr>
      <% @wind_ranges.each do |range| %>
        <tr>
          <td><%= range %> mph</td>
          <td><%= @conditions.average_rides_for_wind(range) %> mph</td>
          <td><%= @conditions.most_rides_for_wind(range) %> mph</td>
          <td><%= @conditions.lowest_rides_for_wind(range) %> mph</td>
        </tr>
      <% end %>
    </table>
  </section>

  <section class="weather-dashboard-table">
    <h1>Visibility Analytics for Rides</h1>
    <table>
      <tr>
        <th>Mean Visibility Range</th>
        <th>Average Rides</th>
        <th>Highest Number of Ride</th>
        <th>Lowest Number of Rides</th>
      </tr>
      <% @visibility_ranges.each do |range| %>
        <tr>
          <td><%= range %> miles</td>
          <td><%= @conditions.average_rides_for_visibility(range) %> miles</td>
          <td><%= @conditions.most_rides_for_visibility(range) %> miles</td>
          <td><%= @conditions.lowest_rides_for_visibility(range) %> miles</td>
        </tr>
      <% end %>
    </table>
  </section>
</section>
