<section class="stations-dashboard-analytics">
  <section class="stations-dashboard-value">
    Installation Date: <%= @station.installation_date %>
  </section>
  <section class="stations-dashboard-value">
    Total Rides Started Here: <%= @station.total_rides_started %>
  </section>
  <section class="stations-dashboard-value">
    Total Rides Ended Here: <%= @station.total_rides_ended %>
  </section>
  <section class="stations-dashboard-value">
    Most Frequent Destination: <%= link_to @station.most_frequent_end_station.name, station_path(@station.most_frequent_end_station) %>
  </section>
  <section class="stations-dashboard-value">
    Most Frequent Origination: <%= link_to @station.most_frequent_start_station.name, station_path(@station.most_frequent_start_station) %>
  </section>
  <section class="stations-dashboard-value">
    Date with Highest Number of Trips: <%= @station.highest_originations_by_date[0].strftime("%F") %>
  </section>
  <section class="stations-dashboard-value">
    Most Common User Zip Code: <%= @station.most_common_zip[0] %>
  </section>
  <section class="stations-dashboard-value">
    Most Popular Bike: <%= @station.most_common_bike[0] %>
  </section>
</section>

