<section class="welcome-about">
  <h1>Logged in as <%= current_user.name %></h1>
  <p>Current Email: <%= current_user.email %></p>
  See something that doesn't look right? <%= link_to "Edit Profile", edit_user_path(current_user) %>
  <%= link_to "View Accessories", admin_bike_shop_path %>

  <% @orders.each do |order| %>
    Order #<%= link_to order.id, admin_order_path(order) %>
  <% end %>

  <%= link_to "Ordered", admin_dashboard_path(:status => "Ordered") %>: <%= @orders.ordered.count %>
  <%= link_to "Cancelled", admin_dashboard_path(:status => "Cancelled") %>: <%= @orders.cancelled.count %>
  <%= link_to "Paid", admin_dashboard_path(:status => "Paid") %>: <%= @orders.paid.count %>
  <%= link_to "Completed", admin_dashboard_path(:status => "Completed") %>: <%= @orders.completed.count %>

  <%= render partial: "status" if !@status_orders.empty? %>
</section>
