<section class="welcome-about">
  <% @orders.each do |order| %>
    <%= order.purchaser_name %>
    <%= order.purchaser_address %>
    <%= order.status %>
    <%= order.user_id %>
    <%= order.created_at %>
  <% end %>
</section>
