<section class="dashboard-header">
  <h1>Trips Dashboard</h1>
</section>

<section class="trips-dashboard-analytics">
  <section class="trips-dashboard-value">
    <h2>Average Length of Ride:</h2>
    <h3><%= @trips.average_duration %> minutes</h3>
  </section>
  <section class="trips-dashboard-value">
    <h2>Shortest Ride:</h2>
    <h3> <%= @trips.shortest_ride %> minutes </h3>
  </section>
  <section class="trips-dashboard-value">
    <h2>Longest Ride:</h2>
    <h3> <%= @trips.longest_ride %> minutes </h3>
  </section>
  <section class="trips-dashboard-value">
    <h2>Most Popular Start Station:</h2>
    <h3> <%= Station.find(@trips.start_station_most_rides.start_station_id).name %> </h3>
  </section>
  <section class="trips-dashboard-value">
    <h2>Most Popular End Station:</h2>
    <h3> <%= Station.find(@trips.end_station_most_rides.end_station_id).name %> </h3>
  </section>
  <section class="trips-dashboard-value">
    <h2>Most ridden bike:</h2>
    <h3> ID #<%= @trips.most_ridden_bike.bike_id %> </h3>
    <h2>Number of rides:</h3>
    <h3> <%= @trips.most_ridden_bike.count %> </h3>
  </section>
  <section class="trips-dashboard-value">
    <h2>Least ridden bike:</h2>
    <h3> ID #<%= @trips.least_ridden_bike.bike_id %> </h3>
    <h2>Number of rides:</h3>
    <h3> <%= @trips.least_ridden_bike.count %> </h3>
  </section>
  <section class="trips-dashboard-value">
    <h2>Total Subscribers:</h3>
      <h3> <%= @trips.subscription_type_breakout.first.count %> </h3>
    <h2>Percentage of Subscribers:</h2>
    <h3> <%= @trips.subscription_type_percentage_first %>% </h3>
  </section>
  <section class="trips-dashboard-value">
    <h2>Total Customers:</h3>
      <h3> <%= @trips.subscription_type_breakout.last.count %> </h3>
    <h2>Percentage of Customers:</h2>
    <h3> <%= @trips.subscription_type_percentage_last %>% </h3>
  </section>
  <section class="trips-dashboard-value">
    <h2>Most Popular Day to Ride:</h3>
      <h3> <%= @trips.most_popular_ride_date.start_date.to_date.to_s %> </h3>
    <h2>Number of Rides:</h2>
    <h3> <%= @trips.most_popular_ride_date.count %> </h3>
  </section>
  <section class="trips-dashboard-value">
    <h2>Least Popular Day to Ride:</h3>
      <h3> <%= @trips.least_popular_ride_date.start_date.to_date.to_s %> </h3>
    <h2>Number of Rides:</h2>
    <h3> <%= @trips.least_popular_ride_date.count %> </h3>
  </section>
</section>
