<section class="welcome-container">
  <section class="welcome-header">
    <section class="welcome-header-title">
      <h1>Bay Cycles</h1>
    </section>
    <section class="welcome-header-nav">
      <div class="welcome-links"><%= link_to "Stations", stations_path %></div>
      <div class="welcome-links"><%= link_to "Trips", trips_path %></div>
      <div class="welcome-links"><%= link_to "Weather", conditions_path %></div>
      <div class="welcome-links"><%= link_to "Login", login_path if !current_user %></div>
      <div class="welcome-links"><%= link_to "Logout", logout_path, method: "delete" if current_user %></div>
    </section>
  </section>
  <section class="welcome-container-main">
    <section class="welcome-about">
      Lorem Ipsum Other Things
    </section>
  </section>
</section>
