<%= link_to "View Accessories", admin_bike_shop_path %>
<% @accessories.each do |accessory| %>
<div class= "accessory<%= accessory.id %>">
  <%= image_tag accessory.image.url %>
  <%= accessory.name %>
  <%= accessory.description %>
  <%= accessory.price %>
    <%= button_to "Add to Cart", carts_path(accessory: accessory.id) %>
  </div>
<% end %>
