<% @accessories.each do |accessory| %>
<div class= "accessory<%= accessory.id %>">
  <%= image_tag accessory.image.url %>
  <%= link_to accessory.name, bike_shop_accessory_path(accessory) %>
  <%= accessory.description %>
  <%= accessory.price %>
    <%= button_to "Add to Cart", cart_index_path(accessory: accessory.id) %>
  </div>
<% end %>
