<!DOCTYPE html>
<html>
  <head>
    <title>Bay Cycles</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <link href="https://fonts.googleapis.com/css?family=Poiret+One|Roboto" rel="stylesheet">
  </head>

  <body>
    <section class="welcome-container">
      <section class="welcome-header">
        <section class="welcome-header-title">
          <h1><%= link_to "Bay Cycles", root_path %></h1>
        </section>
        <section class="welcome-header-nav">
          <div class="welcome-links"><%= link_to "Stations", stations_path %></div>
          <div class="welcome-links"><%= link_to "Trips", trips_path %></div>
          <div class="welcome-links"><%= link_to "Weather Conditions", conditions_path %></div>
          <div class="welcome-links"><%= link_to "Give Us Your Money", bike_shop_path %></div>
        </section>
      <% if current_user %>
        <section class="welcome-header-logged-in">
          <h3>Logged in as <%= current_user.name %></h3>
        </section>
      <% end %>
      </section>
    <section class="main-container">
      <% if flash[:notice] %>
        <div class="notice"><%= flash[:notice].html_safe %></div>
      <% end %>
      <%= yield %>
    </section>
    <footer class="footer">
      <%= render partial: "layouts/login" if !current_user %>
      <%= render partial: "layouts/logout" if current_user %>
      <%= link_to "Cart(#{@cart.total_count})", cart_index_path%>
      <h2>Made with <%= made_with_adjective.sample %> <%= made_with_nouns.sample %> By <%= link_to "Luis Senior", "https://github.com/Heybluguy" %>, <%= link_to "Ellen Cornelius", "https://github.com/corneliusellen" %>, and <%= link_to "Luke Chambers", "https://github.com/lnchambers" %></h2>
    </footer>
  </body>
</html>
