<!DOCTYPE html>
<html>
  <head>
    <title>BayCycle</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <link href="https://fonts.googleapis.com/css?family=Poiret+One|Roboto" rel="stylesheet">
  </head>

  <body>
    <%= link_to "Cart(#{@cart.contents.total_count})", carts_path%>
    <% if flash[:notice] %>
      <div class="notice"><%= flash[:notice] %></div>
    <% end %>
    <%= yield %>
    <footer class="footer">
      <h2>Made with <%= made_with_adjective.sample %> <%= made_with_nouns.sample %> By <%= link_to "Luis Senior", "https://github.com/Heybluguy" %>, <%= link_to "Ellen Cornelius", "https://github.com/corneliusellen" %>, and <%= link_to "Luke Chambers", "https://github.com/lnchambers" %></h2>
    </footer>
  </body>
</html>
